@font-face {
    font-family: consolas;
    src: url('CONSOLAB.TTF');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: consolas;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(#cdffd8, #94b9ff);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.6),
        transparent
    );
    transition: 0.5s;
}

.header:hover::before {
    left: 100%;
}

.logo {
    color: #314528;
    font-size: 25px;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    color: #314528;
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover {
    color: blue;
}

#menu-icon {
    font-size: 36px;
    color: #314528;
    display: none;
}

@media (max-width: 1100px) {
    .header {
        padding: 1.25rem 4%;
    }
}

@media (max-width: 925px) {
    #menu-icon {
        display: block;
    }
    
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 0.5rem 4%;
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        margin: 1.5rem 0;
    }

    .nav-bg {
        position: absolute;
        top: 79px;
        left: 0;
        width: 100%;
        height: 295px;
        background-image: rgba(255,255,255,0.1);
        border-bottom: 2px solid rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        z-index: 99;
        display: none;
    }

    .nav-bg.active {
        display: block;
    }
}